@-moz-document domain('linux.org.ru'), url-prefix('http://linux.org.ru/') {
    html,
    body {
        background-color: #c9c9c9 !important;
    }
    body {
        font-family: PT Sans Caption !important;
        font-weight: normal !important;
    }
    body {
        color: #000000 !important;
    }
    a {
        color: #0033ff !important;
    }
    #guser {
        color: #fff !important;
    }
    #hd .menu .primary a {
        color: #000000 !important;
    }
    #hd .menu .secondary a {
        color: #000000 !important;
    }
    #bd h2 * {
        color: #000000 !important;
    }
    #bd .tag a {
        color: #0033ff !important;
    }
    #bd .sign a {
        color: #000000;
        text-decoration: none !important;
    }
    #bd .sign a:hover {
        color: #0080C0 !important;
        text-decoration: underline !important;
    }
    #bd .sign a:visited {
        color: #606090 !important;
    }
    /* A little bit of my corrections - revhom {{{ */
    /* Remove curve posts */

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    nav,
    section {
        border-radius: 0px !important;
    }
    /* Fix font color in headers */

    h1 {
        color: #000000 !important;
    }
    h2 {
        color: #000000 !important;
    }
    #bd .tag {
        background-color: #A3A7A0 !important;
    }
    #bd .btn-default {
        background-color: #808080 !important;
    }
    #bd .btn-primary {
        background-color: #6E90C1 !important;
    }
    .page-number {
        background-color: #7B7B7B !important;
    }
    /* fix code */
    pre {
        background-color: #444444 !important;
        font-family: monaco, Consolas, Lucida Console, monospace;
        color: #AAAAAA;
    }
    .code {
        background: #444444 !important;
        border: 1px solid !important;
        font-family: monaco, Consolas, Lucida Console, monospace;
    }
    .boxlet {
        border-radius: 0px !important;
    }
    .stars {
        color: #000000;
        font-size: 0.8rem;
    }
    th {
        color: #000000;
    }
    /* }}} my corrections */

    div.messages .title {
        background: none !important;
    }
    .messages .comment .title {
        background: none !important;
    }
    .message-table tbody {
        background-color: #c9c9c9 !important;
    }
    table.nav > tbody > tr > td {
        background: none !important;
        border: 0px solid !important;
    }
    .nav {
        background: none !important;
    }
    .message-table {
        background: #000000 !important;
    }
    .message-table td {
        background: #c9c9c9 !important;
    }
    .bluehead {
        background: none !important;
    }
    .messages .msg:target {
        border: 1px solid #ff0000 !important;
    }
    .user-remark {
        color: #000000 !important;
    }
    .btn {
        border: 1px solid #000000 !important;
        border-radius: 0px !important;
    }
    span.code {
        color: #AAAAAA !important;
        border: 1px solid #000000 !important;
        padding: -1px;
    }
    #bd .forum table thead {
        background-color: #b0b0b0 !important;
    }
    #bd .forum table th {
        border-color: #555753 !important;
    }
    #bd .forum table tbody td * {
        color: #0000ad !important;
    }
    .messages .msg {
        background: #b0b0b0 !important;
        border-color: #000000 !important;
        border-style: solid !important;
        border-width: 1px !important;
        word-wrap: break-word !important;
    }
    #bd a:visited {
        color: #606090 !important;
    }
    #bd .forum table tbody td a:visited {
        color: #babdb6 !important;
    }
    #navPath a:visited {
        color: #729FCF !important;
    }
    #whois_userpic {
        background: #b0b0b0 !important;
    }
    #bd .forum table tbody tr:hover {
        background-color: #5c3566 !important;
    }
    #whois_userpic {
        background: #b0b0b0 !important;
    }

    textarea {
        font-family: PT Sans Caption !important;
        font-weight: normal !important;
    }
    #bd .forum table tbody tr:hover {
        background-color: #d9d9d9 !important;
    }
    #bd .forum table tbody tr td a:visited {
        color: #858585 !important;
    }
    pre .shebang,
    pre .comment,
    pre .template_comment,
    pre .javadoc {
        color: #95FF8F !important;
    }
    #bd .column .boxlet {
        width: 85% !important;
        background: none !important;
        border: 1px solid !important;
        padding: 1em !important;
    }
    #bd .column .boxlet h2 {
        background: none !important;
    }
    .boxlet {
        width: 85% !important;
        background: none !important;
        border: 1px solid !important;
        padding: 1em !important;
    }
    .infoblock {
        display: none !important;
    }
    #bd iframe {
        display: none !important;
    }
    #bd input,
    textarea,
    select {
        background: #eee !important;
        border: 1px solid !important;
    }
    .news {
        background: #b0b0b0 !important;
        border: 1px solid !important;
        border-radius: 0px !important;
        padding: 1em !important;
    }
    #doc3 #bd .messages .comment table tbody .msg {
        padding: 0.5em !important;
    }
    #contents-header {
        color: #000000 !important;
        font-weight: bold !important;
    }
    #contents {
        background: #c9c9c9 !important;
        ;
        border: 1px solid !important;
    }
    #nav-menu {
        background: #b0b0b0 !important;
        border: 1px solid !important;
        border-bottom-left-radius: 1em 1em !important;
        border-bottom-right-radius: 1em 1em !important;
        border-top-left-radius: 1em 1em !important;
        border-top-right-radius: 1em 1em !important;
        -moz-border-radius: 1em 1em !important;
        padding-bottom: 1em !important;
    }
    #nav-search {
        background: #b0b0b0 !important;
        border: 1px solid !important;
        border-radius: 0px !important;
    }
    #nav-search input {
        width: 97.5% !important;
        border: 1px solid !important;
    }
    #content-article pre {
        color: #fff !important;
        border: 1px solid #000 !important;
    }
    #tab-menu .tab-item {
        background: none !important;
        color: #000000 !important;
        border: 0px !important;
        text-decoration: underline !important;
    }

    #user-menu {
        margin: 0px !important
    }
    .toclevel-1:hover a,
    .toclevel-2:hover a {
        border-bottom: 0px solid !important;
        text-decoration: underline !important;
        color: #000000 !important
    }
    #wiki-page table {
        width: 100% !important;
    }
    #content-article ol li a:hover {
        border-bottom: 0px solid !important;
        text-decoration: underline !important;
        color: #000000 !important;
    }
    #wiki-content {
        background: #b0b0b0 !important;
    }
    #wiki-page {
        background: #b0b0b0 !important;
    }
    #toc {
        background: #b0b0b0 !important;
        border: 1px solid !important;
    }
}
